<div class="col-10 offset-1">
  <h1>About Splurty</h1>


  <p>
    Splurty was built by Aden Mengistie. This webpage was created to encourage people to give and receive some essential life advice. I'm hoping by reading some of the quotes on this page it will motivate you to tackle life by the horns. This site is also for those of you have lived life and experienced those crucial parts of living and have some insight and advice for those going through it at this moment. LIVE**LAUGH**LOVE
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Aden Mengistie</h2>
     
      <br />

        <p>
          Aden was born in Ethiopia and she moved to the states at the young age of eight years old. Making that move with her family was one of the most challenging and rewarding times of her life. The saying that there is always a rainbow after a heavy rain truly resonated with her through this difficult chapter. However she realized the there a lot of power in words so she wanted to give people an avenue to encourage others and also for people to receive some motivation through quotes. She is currently in the process of making some changes in her life by tackling on her life goals to be a software developer.    
        </p>
      </div>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
